body {
    background-color: #f5f5f5;
}

#svg {
    background-color: #f5f5f5;
}

#header {
    position: relative;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    background-color: #333;
    font-family: Helvetica;
    font-size: 30px;
    color: #ffffff;
}

#title {
    position:relative;
    padding: 5px 0px 5px 0px;
    text-align: center;
    font-size: 22px;
    background-color: darkslategrey;
}

#author, #social_networks {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    left: 50%;
}

#author_link {
    text-decoration: none;
    color: #ffffff;
}

#main {
    position: relative;
}

#controllers {
    float:left;
    padding-top: 10px;
    padding-left: 20px;
}

#footer {
    position: relative;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    background-color: #333;
}

.progress {
    margin-left: 20px;
    margin-top: 20px;
    position: relative;
    float:left;
    width: 50%;
}

#algorithm {
    position: relative;
}
